#Favorites{

    
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 5px;
        list-style-type: none;

    }

   

    button{
        background-color: #202b3b;
        border: none;
        color: white;
        height: 30px;
        // width: 130px;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px;
        
    }
    

}


