#Search{
    display: flex;
    
    input{
        background-color: #202b3b;
        border: none;
        border-radius: 30px;
        height: 25px;
        padding: 10px;
        color: white;
        
        
    }
   
    button{
        height: 25px;
    }
    
}
